.info-box{
    border:1px solid black;
    width: 400px;
    display: block;
    margin: 5px auto;
    background-color: rgb(255, 231, 199);
    padding: 20px 0px;
}

.home-image{
    max-width: 700px;
    border: 2px solid rgb(41, 41, 41);
    margin: 13px 0px
}